<mat-nav-list fxFlex="80">
  <a mat-list-item href="recipes/blo"> <span fxFlex="70">Bloomberg</span> <span fxFlex="20"></span> <mat-icon>keyboard_arrow_right</mat-icon></a>
  <a mat-list-item > <span fxFlex="70">Academic One File </span><span fxFlex="20"></span> <mat-icon>keyboard_arrow_right</mat-icon></a>
  <a mat-list-item > <span fxFlex="70">Infotrac file</span> <span fxFlex="20"></span> <mat-icon>keyboard_arrow_right</mat-icon></a>
  <a mat-list-item > <span fxFlex="70">OCEAN recipe</span> <span fxFlex="20"></span> <mat-icon>keyboard_arrow_right</mat-icon></a>
  <a mat-list-item > <span fxFlex="70">Dialog B2 </span><span fxFlex="20"></span> <mat-icon>keyboard_arrow_right</mat-icon></a>
</mat-nav-list>
