<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav mode="push" fxLayout="column">
    <mat-toolbar color="primary">
      <img src="assets/chef.png" height="45px" width="45px" >
      <span style="padding-left: 10px">CHEF </span>
      <span fxFlex.gt-sm="10"></span>
      <mat-icon (click)="sidenav.close()" fxLayoutAlign="end">arrow_back</mat-icon>
    </mat-toolbar>
    <ul fxLayout="column" fxFlex style="padding: 2px">
    <li fxLayout="row" fxFlex="10" fxLayoutAlign="center center" class="bordersidenavtag" >
      <a fxFlex fxLayout="column" fxLayoutAlign="center center" href="/dashboard">
        <mat-icon  fxLayout="row">dashboard</mat-icon>
        <span fxFlex fxLayout="row" style="font-size: 16px;">dashboard</span>
      </a>
    </li>
    <li fxLayout="row" mat-ripple fxFlex="10" fxLayoutAlign="center center" class="bordersidenavtag">
      <a fxFlex fxLayout="column" fxLayoutAlign="center center" href="/recipes">
        <mat-icon  fxLayout="row">description</mat-icon>
        <span fxFlex fxLayout="row" style="font-size: 16px;">recipes</span>
      </a>
    </li>
    <li fxLayout="row" fxFlex="10" fxLayoutAlign="center center" class="bordersidenavtag">
      <a mat-ripple fxFlex fxLayout="column" fxLayoutAlign="center center">
        <mat-icon  fxLayout="row">event</mat-icon>
        <span fxFlex fxLayout="row" style="font-size: 16px;">Activity</span>
      </a>
    </li>
    <li fxLayout="row" fxFlex="10" fxLayoutAlign="center center" class="bordersidenavtag">
      <a mat-ripple fxFlex fxLayout="column" fxLayoutAlign="center center">
        <mat-icon  fxLayout="row">airplay</mat-icon>
        <span fxFlex fxLayout="row" style="font-size: 16px;">monitoring</span>
      </a>
    </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="toolbarbutton"> <mat-icon (click)="sidenav.open()">menu</mat-icon></button>
      <span fxLayout="row" fxFlex.gt-sm="80"></span>
      <span><button mat-button [matMenuTriggerFor]="menu" class="toolbarbutton">
      <div fxLayout="row" style="max-height: 100%; place-content: center; align-items: center;">
        <mat-icon>account_circle</mat-icon>
        <span fxShow.gt-sm fxHide>John Joyner</span>
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu"  xPosition="after">
      <button mat-menu-item><mat-icon>account_circle</mat-icon> My Profile</button>
      <button mat-menu-item><mat-icon>add_alert</mat-icon> Notifications</button>
      <button mat-menu-item><mat-icon>input</mat-icon> Log out</button>
    </mat-menu>
    </span>
    </mat-toolbar-row>
  </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>



